<style>
   /* body{

   } */
    .home > h1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
    }
    /* form {
        position: relative;
        top: 10px;
        right: -70%;
    } */
    .home{
        margin-top: 5px;
    }
    #id-forms {
        display: flex;
        justify-content: space-around;
        
    }

    #id-forms > div {
        display: flex;
        margin-left: 20px;
    }

    #id-forms > p > p { 
        width: 20%;
    }

    #id-forms > div > p {
        margin-right: 5px;
        
    }

    #number {
        size: 2px;
    }

    canvas {
        margin-bottom:100px;
    }

    .cardBox
{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
}

.cardBox.two
{
  grid-template-columns: repeat(2,1fr);
}

.cardBox .card
{
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointor;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  transition: background-color 0.75s;
  width:50%;
  align-self: center;
  justify-self: center;
}

.cardBox .card:hover
{
  background-color: #005EB8;
}

.cardBox .card .numbers
{
  position: relative;
  font-size: 2.2em;
  font-weight: 1000;
  color: #005EB8;
}

.cardBox .card:hover .numbers
{
  color: #fff;
}

.cardBox .card .cardName
{
  color: #999
}
.cardBox .card:hover .cardName
{
  color: #fff;
}

.cardBox .card .iconBox
{
  font-size: 2.5em;
}

.cardBox .card .iconBox img 
{
    width: 2.5em;
}
    
</style>

{% extends 'layouts/default.html' %}

{% block body %}



<body>

    
    <div class="home">
        <h1 style="text-align: center;">Enter your parameter and choose your dataset</h1>
    </div>
    
    <form action="" method="" id="id-forms">
        <div>
            <p>
                <input type="text" placeholder="HCE" name="hce"/>
            </p>
            <p>
                <input type="file" id="myfile" name="myfile" name="myfile"/>
            </p>
            <p>
                <input type="submit" value="soumettre" name="soumettre">
            </p>
        </div>
        
        <p>
            <h4>Hyper paramètres</h4>
            <p>
                <input id="number" type="number" step="5" name="Hparams"/>
                <!-- <input type="checkbox" name="param" id="choix"> <label for="choix">param1</label> <br>
                <input type="checkbox" name="param" id="choix"> <label for="choix">param2</label><br>
                <input type="checkbox" name="param" id="choix"> <label for="choix">param3</label><br> -->
            </p>
        </p>
    </form>

    <div class="home">
        <h1 style="text-align: center;">Enedis Dashboard</h1>
    </div>


    <!-- <div>
        {{ conso }}
    </div><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>
    <div>
        {{ dates }}
    </div> -->



    <div>

        <h2>Puissance sur l'année</h2>


        <select class="ann_con" name="ann_con" id="ann_con">
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
        </select>



        <canvas id="annual_chart" onchange="selectYearChanged(this);"></canvas>
        <h2>Puissance hebdomadaire</h2>



        <label for="start">Date:</label>

        <input type="date" class="dateh" id="start" name="trip-start"
               value="2019-04-02"
               max="2022-12-31" min="2019-04-02">
        <canvas id="hebdo_chart"></canvas>



        <h2>Puissance mensuelle</h2>

        <label for="start">Date:</label>



        <input type="month" class="datem" name="trip-start"
               value="2019-04"
               max="2022-12" min="2019-04">
        <canvas id="mons_chart"></canvas>




        <h2>Prévision</h2>



        <div class="cardBox two">

            <div class="card">
                <div>
                    <div class="cardName">Prévision pour le 1 Janvier 2023</div>
                    <div class="numbers" id="ancienne_p">{{jr1_prv}}</div>

                </div>
                <div class="iconBox">
                    <img src="../../static/images/puissance_icon.png">
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="cardName">Prévision pour le 2 Janvier 2023</div>
                    <div class="numbers" id="nouvelle_p">{{jr2_prv}}</div>

                </div>
                <div class="iconBox">
                    <img src="../../static/images/puissance_icon.png">
                </div>
            </div>

        </div>

        <h2>Consommation par tremestre</h2>


        <select class="ann_tr" name="ann_tr" id="ann_tr">
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
        </select>

        <center>
        <div style="height: 700px">
        <canvas id="tremestre"></canvas>

        </div>
        </center>

    </div>
    <script type="module">
        console.log("ok");
        const ct1 = document.getElementById('annual_chart');
        const ct2 = document.getElementById('hebdo_chart');
        const ct3 = document.getElementById('mons_chart');
        const ct4 = document.getElementById('tremestre');





        var ch1 = new Chart(ct1, {
            type: 'line',
            data: {
                               datasets: [{
                    label: 'Puissance sur l\'année',
                    data: [],
                    borderWidth: 3,
                    borderColor: "#005EB8",
                    backgroundColor: "#005EB8"
                }],
                 labels: ["Janvier","Fevrier","Mars","Avril","Mai", "Juin,","July","August","Septembre","Octobre", "Novembre","Décembre"],


            }
        });

        fetch("http://localhost:5000/cons_y/2019")
        .then(response => response.json())
        .then(json => {console.log(json['data']);
             ch1.data.datasets[0].data = json['data'];
             ch1.data.labels = ["Janvier","Fevrier","Mars","Avril","Mai", "Juin,","July","August","Septembre","Octobre", "Novembre","Décembre"];
             ch1.update();   } );


        var ch2 = new Chart(ct2, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: 'Courbe de charge hebdomadaire',
                    data: [],
                    borderWidth: 1,
                    borderColor: "#005EB8",
                    backgroundColor: "#005EB8"
                }]
            }


        });

        fetch("http://localhost:5000/cons_day/2019-04-02")
        .then(response => response.json())
        .then(json => {console.log(json['consomation']);
             ch2.data.datasets[0].data = json['consomation'];
             ch2.data.labels = json['heure'];
             console.log(ch2.data.labels);
             ch2.update();   } );


         var ch3 = new Chart(ct3, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: 'Courbe de charge mensuelle',
                    data: [],
                    borderWidth: 1,
                    borderColor: "#005EB8",
                    backgroundColor: "#005EB8"
                }]
            }

        });

        fetch("http://localhost:5000/cons_y_m/2019-04")
        .then(response => response.json())
        .then(json => {ch3.data.datasets[0].data = json['data'];
                ch3.data.labels = json['label'];
                console.log("fuck i am here");
                ch3.update();;   } );






         var ch4 = new Chart(ct4, {
            type: 'doughnut',

            data: {
                     labels: [
                            'Printemps',
                            'Ete',
                            'Automne',
                            'Hiver'
                          ],
                    datasets: [{
                      label: 'Consommation par tremsetre',
                      data: [],
                      backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)',
                        'rgb(240, 105, 106)'
                      ]

                  }]
                  },
                  options: {
                       heig : 2000,

                       radius:'90%',
                      }
        });

        fetch("http://localhost:5000/cons_sem/2019")
        .then(response => response.json())
        .then(json => {console.log(json['data']);
             ch4.data.datasets[0].data = json['data'];

             ch4.update();   } );




        const ann_con = document.querySelector('.ann_con');

        ann_con.addEventListener('change', (event) => {
            fetch("http://localhost:5000/cons_y/"+ann_con.value)
        .then(response => response.json())
        .then(json => {console.log(json['data']);
             ch1.data.datasets[0].data = json['data'];

             ch1.update();   } );


        });

        const dateh = document.querySelector('.dateh');

        dateh.addEventListener('change', (event) => {
            console.log(dateh.value);
            fetch("http://localhost:5000/cons_day/"+dateh.value)
        .then(response => response.json())
        .then(json => {console.log(json['consomation']);
             ch2.data.datasets[0].data = json['consomation'];
             ch2.data.labels = json['heure'];
             console.log(ch2.data.labels);
             ch2.update();   } );



          });


        const datem = document.querySelector('.datem');

        datem.addEventListener('change', (event) => {
            console.log(datem.value);
            fetch("http://localhost:5000/cons_y_m/"+datem.value)
        .then(response => response.json())
        .then(json => {
                console.log("fuck i am here");

                ch3.data.datasets[0].data = json['data'];
                ch3.data.labels = json['label'];

                ch3.update();  } );


          });


        const ann_tr = document.querySelector('.ann_tr');

        ann_tr.addEventListener('change', (event) => {
            fetch("http://localhost:5000/cons_sem/"+ann_tr.value)
        .then(response => response.json())
        .then(json => {
             ch4.data.datasets[0].data = json['data'];

             ch4.update();   } );


        });
    </script>
    

</body>

{% endblock %}